@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&family=Rubik:wght@400;500;700&display=swap");

:root {
  --font-body: "Nunito Sans";
  --font-title: "Rubik";

  --border-test: solid 1px blue;
  --border-radius: 2rem;
  --color-body: hsl(233, 4%, 62%);
}

/************************** General reset **************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-body);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

span {
  user-select: none;
}

/************************** App container **************************/

.app-container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 1rem;

  padding: 1rem;
  width: 90dvw;
  height: 90dvh;
  background-color: #7d7f86;
  border-radius: var(--border-radius);
  border: var(--border-test);
}

.app-container > * {
  border: var(--border-test);
  border-radius: var(--border-radius);
  background-color: inherit;
}

/************************** Data container **************************/

.data {
  overflow: hidden;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  filter: brightness(1.15);
}

.data > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.2rem;

  & img {
    /* margin-bottom: 0.5rem; */
    max-width: 50px;
    scale: 0.5;
  }
}
